@charset "UTF-8";

main#container-1 {
    width: 100%;
}

div.div-1 {
    flex-grow: 2;
}

.size-div {
    width: 100%;
    margin: auto;
    height: auto;
}

.div-solo {
    margin: auto;
    width: 65%;
}