@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(220, 15%, 55%);
    height: 100vh;
    width: 100vw;
}

main {
    width: 100%;
    height: 80%;
}

div.qr-code {
    background-color: white;
    border-radius: 20px;
    margin: auto;
    height: 500px;
    width: 320px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height.3s;
    transition-timing-function: ease; 
}

img {
    display: block;
    border-radius: 10px;
    width: 280px;
    margin: 20px auto 0px 20px;
}

h3 {
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    font-weight: 700;
    padding: 20px 20px 0px 20px;
    text-align: center;
}

p {
    color: hsl(212, 46%, 60%);
    font-size: 15px;
    font-weight: 400;
    padding: 20px;
    text-align: center;
}

div.div-conteudo {
    display: block;
    height: 20%;
    width: 100%;
}

div.div-conteudo p {
    color: rgb(221, 221, 221)
}

div.div-conteudo a {
    color: rgb(114, 35, 114);
}