@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    max-width: 400px;
    margin: 40px auto;
}

img {
    margin: 10px 20px 10px 220px;
    width: 50px;
}

p {
    color: rgba(0, 0, 0, 0.603);
}

h1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 5px;
    width: 300px;
}

/*--------main--------*/
.h2-1 {
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
}

.h2-2 {
    font-size: 1.4em;
    text-align: center;
}

.p-1 {
    color: rgba(0, 0, 0, 0.603);
    font-weight: 500;
    margin: 20px auto;
    text-align: center;
    width: 220px;
}

div {
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.205);
    height: 200px;
    width: 300px;
    margin:auto;
}

div.div-supervisor {
    margin: 40px auto ;
}

div.div-supervisor > h2 {
    font-size: 1.2em;
    padding: 20px 20px 5px 20px ;
}

div.div-supervisor > p {
    font-size: 0.9em;
    padding: 5px 20px 10px 20px;
}

div.div-supervisor > h1 {
    background-color: hsl(180, 62%, 55%);
}

/*--------div-builder--------*/
div.div-buider {
    margin: 40px auto ;
}

div.div-builder > h2 {
    font-size: 1.2em;
    padding: 20px 20px 5px 20px ;
}

div.div-builder > p {
    font-size: 0.9em;
    padding: 5px 20px 10px 20px;
}

div.div-builder > h1 {
    background-color: hsl(0, 78%, 62%);
}

/*--------div-calculator--------*/
div.div-calculator {
    margin: 40px auto ;
}

div.div-calculator > h2 {
    font-size: 1.2em;
    padding: 20px 20px 5px 20px ;
}

div.div-calculator > p {
    font-size: 0.9em;
    padding: 5px 20px 10px 20px;
}

div.div-calculator > h1 {
    background-color: hsl(34, 97%, 64%);
}

/*--------div-karma--------*/
div.div-karma {
    margin: 40px auto ;
}

div.div-karma > h2 {
    font-size: 1.2em;
    padding: 20px 20px 5px 20px ;
}

div.div-karma > p {
    font-size: 0.9em;
    padding: 5px 20px 10px 20px;
}

div.div-karma > h1 {
    background-color: hsl(212, 86%, 64%);

}
